<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="SCM_Desktop_Application.Properties.Settings.cnStr"
    connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\scm.accdb"
    providerName="System.Data.OleDb" />-->
    <add name="cs490scm"
         connectionString="Server=tcp:cs490scm.database.windows.net,1433;Initial Catalog=scm;Persist Security Info=False;User ID='scmgroup';Password='Ih8this:(';MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>